.cwBarBase
{
 background-color: #cacaca;
 border-color: #cacaca;
}

.cwButtonBase, .cwMenuButtonBase
{
 border-color: #cacaca;
 color: #000000;
}
.cwButtonDefault, .cwMenuButtonDefault
{
 border-color: #cacaca;
 background-color: #cacaca;
}
.cwButtonHover, .cwMenuButtonHover
{
 border-color: #000080;
 background-color: #adadd1;
}
.cwButtonDown, .cwMenuButtonDown
{
 border-color: #000080;
 background-color: #adadd1;
}
.cwMenuButtonMenuActive
{
  background-color: #cacaca;
  border-top-color: #999999;
  border-left-color: #999999;
  border-right-color: #999999;
  border-bottom-color: #f6f6f6;
}
.cwButtonDisabled, .cwMenuButtonDisabled
{
 border-color: #cacaca;
}

.cwGripperH, .cwGripperV, .cwBarSeperatorH, .cwBarSeperatorV,
.cwMenuSeperator
{
 background-color: #999999;
}

.cwMenuBase
{
 background-color: #f6f6f6;
 border-color: #999999;
 color: #000000;
}
.cwMenuItemBase
{
 
}
.cwMenuItemBase .cwMenuItemCaptionBox
{
 border-color: #f6f6f6;
}
.cwMenuItemBase .cwMenuItemIconBase img
{
 border-style: solid;
 border-width: 1px;
}
.cwMenuItemBase .cwMenuItemIconDefault img
{
 border-color: #cacaca;
}
.cwMenuItemBase .cwMenuItemIconBase
{
 border-color: #cacaca;
 background-color: #cacaca;
}
.cwMenuItemBase .cwMenuItemIconChecked img
{
 border-color: #000080;
 background-color: #adadd1;
}
.cwMenuItemBase .cwMenuItemGlyphBox
{
 border-color: #f6f6f6;
}
.cwMenuItemHover, .cwMenuItemHover td
{
 color: inherit;
 background-color: #adadd1;
}
.cwMenuItemHover .cwMenuItemCaptionBox
{
 border-color: #000080;
}
.cwMenuItemHover .cwMenuItemIconBase
{
 border-color: #000080;
 background-color: #adadd1;
}
.cwMenuItemHover .cwMenuItemIconBase img
{
 border-style: solid;
 border-width: 1px;
}
.cwMenuItemHover .cwMenuItemIconDefault img
{
 border-color: #adadd1;
}
.cwMenuItemHover .cwMenuItemIconChecked img
{
 border-color: #000080;
 background-color: #adadd1;
}
.cwMenuItemHover .cwMenuItemGlyphBox
{
 border-color: #000080;
}
.cwMenuScroller
{
 background-color: #f6f6f6;
}